%header
  = render partial: "/layouts/header"
.main
  .list-group
    %a.list-group-item.list-group-item-action{:href => "#"} サンシャイン一覧
    %a.list-group-item.list-group-item-action{:href => "#"} About サンシャイン池崎
    %a.list-group-item.list-group-item-action{:href => "#"} マイページ
    %a.list-group-item.list-group-item-action{:href => "#"} お問い合わせ