%body.index.basic.is-pc
  .wrapper
    = render partial: "/layouts/header"
    .index
      .eyecatch
        .wrap-bg-image
          -# = image_tag("ikezaki.jpg")
          .center-part
            .center-top
              .messages
                %p.copy-large-img.hidden-md-down 
                %p.copy-large-img.hidden-md-dwon 

            .plan-link
              = link_to "新規サンシャイン作成", new_ikezaki_path, class: 'button'