<header>
  <%= render partial: "/layouts/header"%>
</header>
  <div class="main">
    <h2>
      <a href="/ikezakis/new">新しくサンシャインを作成する</a>
    <h2>
    <h3>サンシャイン一覧</h3>
  </div>
<footer>
  <%= render partial: "/layouts/footer"%>
</footer>

