%header
  = render partial: "/layouts/header"
.main
  .list-group
    %a.list-group-item.list-group-item-action{:href => "/ikezakis/list"} サンシャイン一覧
    %a.list-group-item.list-group-item-action{:href => "https://www.watanabepro.co.jp/mypage/40000114/"} About サンシャイン池崎
    %a.list-group-item.list-group-item-action{:href => "#"} マイページ
    %a.list-group-item.list-group-item-action{:href => "#"} お問い合わせ
  .ikezaki-list
    %h2
      %h3 サンシャイン一覧
      - @ikezakis.each do |ikezaki|
        %a{:href => "/ikezakis/#{ikezaki.id}"}
          %p
            サンシャイン#{ikezaki.name}
