.header
  = link_to root_path, class: 'get' do
    %h1 今日からお前もサンシャイン
  .header__bar
    %h2 〜サンシャイン池崎のネタ自動生成サービス〜
  - if user_signed_in?
    .user_nav
      = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    .user_nav
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "新規登録", new_user_registration_path, class: 'post'
