.list-group
    %a.list-group-item.list-group-item-action{:href => "/"} TOP
    %a.list-group-item.list-group-item-action{:href => "/ikezakis/list"} サンシャイン一覧
    %a.list-group-item.list-group-item-action{:href => "https://www.watanabepro.co.jp/mypage/40000114/"} About サンシャイン池崎
    -# %a.list-group-item.list-group-item-action{:href => "/users/#{current_user.id}"} マイページ