!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title 今日からお前もサンシャイン！！
    -# application.scssの読み込み
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = yield
